/Training_Logs/
/TrainingArchiveBadData/
/Training_FileFromDB/
/Training_Raw_files_validated/
/Prediction_Logs/
/Prediction_output/
/Prediction_Raw_files_validated/
/PredictionArchiveBadData/
/Prediction_FileFromDB/
/preprocessing_data/
**/__pycache__/
**/.idea/
