[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
cassandra-driver = "*"
sklearn = "*"
matplotlib = "*"
kneed = "*"
xgboost = "*"
redis = "*"
rq = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.10"
